.project-header {
    font-weight: 400;
    font-size: 4rem;
    background-color: #3897f0;
    color: white;
}
.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 100vh;
    background-color: #3897f0;
}
.cover {
    height: 275px;
    opacity: 1;
  display: block;
  width: 45vw;
  transition: .5s ease;
  backface-visibility: hidden;
}
.projects-card-wrapper {
    position: relative;
    height: 300px;
  
}
.projects-card-wrapper:hover .cover{
    opacity: 0.3;
}

.projects-card-wrapper:hover .middle{
    opacity: 1;
}

.middle {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.title, .description, .url {
  background-color: #3897f0;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid white;
}
.url, .url:visited {
    text-decoration: none;
}

.url:hover {
    color: black;
}