.profile-wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.details {
    justify-content: space-around;
}

.profile-title {
    font-size: 7rem;
    color: #3897f0;
}

.profile-text-ital {
    font-style: italic;
    font-weight: 400;
    font-size: 5rem;
}
.profile-text {
    font-size: 3rem;
}

.resume img{
    height: 100px;
    width: 100px;
}




