.profile-wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.details {
    justify-content: space-around;
}

.profile-title {
    font-size: 7rem;
    color: #3897f0;
}

.profile-text-ital {
    font-style: italic;
    font-weight: 400;
    font-size: 5rem;
}
.profile-text {
    font-size: 3rem;
}

.resume img{
    height: 100px;
    width: 100px;
}

@media (min-width:320px) and (max-width: 767px) {  
    .profile-title {
        font-size: 4rem;
    }
    
    .profile-text-ital {
        font-weight: 400;
        font-size: 1.5rem;
    }
    .profile-text {
        font-size: 3rem;
    }
    
    .resume img{
        height: 50px;
        width: 50px;
    }
}
@media (min-width:768px) and (max-width: 1024px) {  
    .profile-title {
        font-size: 5.5rem;
    }
    
    .profile-text-ital {
        font-weight: 400;
        font-size: 3rem;
    }
    .profile-text {
        font-size: 4.5rem;
    }
    
    .resume img{
        height: 80px;
        width: 80px;
    }
}


