
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    position: fixed;
    padding-left: 70%;
    margin-top: 0;
    z-index: 1;
  }
  
  li {
    float: left;
  }

  
  
  li a {
    display: block;
    color: black;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #3897f0;
    color: white;
  }


  @media (min-width:768px) and (max-width: 1024px) {
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
    }
 
    li a {
      font-size: .5rem;
    }

    
  }

  @media (min-width:320px) and (max-width: 767px) {
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
    }
 
    li a {
      font-size: .5rem;
    } 
  }